.container {
  font-size: 62.5%;
}
body {
  background-image: url("https://images.pexels.com/photos/2907117/pexels-photo-2907117.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-color: #cccccc;
  background-repeat: none;
}
nav {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2 rem;
}
nav a {
  color: green;
  border: 1px solid black;
  background: yellowgreen;
  text-decoration: none;
}
.about {
  font-size: 1.1rem;
  padding-top: 25rem;
}
.ContactForum {
  padding-top: 35rem;
}
