/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: url(https://images.pexels.com/photos/1650032/pexels-photo-1650032.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.container {
  color: #FFFFFF;
  width: 75%;
  margin: 0 auto;
}
.container nav {
  display: flex;
  font-size: 1.8rem;
  padding: 1 rem;
  justify-content: space-evenly;
  align-content: center;
}
.container nav a {
  color: #FFFFFF;
  background: #666633;
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.container nav a:hover {
  text-shadow: 0px 0px 7px #d4d4aa;
}
.container .about {
  padding-top: 10rem;
  background-color: none;
  position: relative;
  text-align: center;
}
.container .about h1 {
  font-size: 7rem;
  color: #333333;
  font-weight: bolder;
  text-shadow: 2px 2px #666633;
}
.container .about p {
  margin-top: 1.2rem;
  width: 90%;
  font-size: 2rem;
  color: #333333;
  font-weight: bold;
}
html {
  font-size: 62.5%;
}
p {
  font-size: 2rem;
}
.whatwedo {
  padding: 25px;
}
.whatwedo .wwd {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #d4d4aa;
  color: #595959;
  border-radius: 2rem;
}
.whatwedo .wwd p {
  padding: 15px;
  font-size: 3rem;
}
.whatwedo .wwd img {
  opacity: 1;
  width: 90%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 2rem;
}
.whatwedo .wwd button {
  width: 48%;
  height: 50px;
  border-radius: 1rem;
  color: #FFFFFF;
  background: #666633;
  margin: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2rem;
}
.whatwedo .wwd button:hover {
  background: #6d6d3d;
  color: #FFFFFF;
}
footer {
  display: flex;
  justify-content: center;
  color: #595959;
}
body,
html {
  height: 100%;
}
@media (max-width: 500px) {
  body .container {
    width: 100%;
  }
  body .about h1 {
    font-size: 2rem;
  }
}
/* Sidebar */
#sidebar {
  padding: 2.5em 2.5em 0.5em 2.5em;
  background: #666633;
  cursor: default;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  text-align: right;
  top: 0;
  width: 15rem;
  z-index: 10000;
}
#sidebar > .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(0);
  transition: opacity 1s ease;
  min-height: 100%;
  opacity: 1;
  width: 100%;
}
body.is-ie #sidebar > .inner {
  height: 100%;
}
#sidebar nav > ul {
  list-style: none;
  padding: 0;
}
#sidebar nav > ul > li {
  transform: translateY(0);
  transition: opacity 0.15s ease, transform 0.75s ease;
  margin: 1.5em 0 0 0;
  opacity: 1;
  padding: 0;
  position: relative;
}
#sidebar nav > ul > li:first-child {
  margin: 0;
}
#sidebar nav a {
  transition: color 0.2s ease;
  border: 0;
  color: white;
  display: block;
  font-size: 0.6em;
  font-weight: bold;
  letter-spacing: 0.25em;
  line-height: 1.75;
  outline: 0;
  padding: 1.35em 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
#sidebar nav a:before,
#sidebar nav a:after {
  border-radius: 0.2em;
  bottom: 0;
  content: '';
  height: 0.2em;
  position: absolute;
  right: 0;
  width: 100%;
}
#sidebar nav a:before {
  background: #666633;
}
#sidebar nav a:after {
  background-image: linear-gradient(to right, #666633, #d4d4aa);
  transition: max-width 0.2s ease;
  max-width: 0;
}
#sidebar nav a:hover {
  color: #d4d4aa;
}
#sidebar nav a.active {
  color: #ffffff;
}
#sidebar nav a.active:after {
  max-width: 100%;
}
body.is-preload #sidebar > .inner {
  opacity: 0;
}
body.is-preload #sidebar nav ul li {
  transform: translateY(2em);
  opacity: 0;
}
@media screen and (max-width: 1280px) {
  #sidebar {
    height: 6em;
    left: 0;
    line-height: 6em;
    overflow: hidden;
    padding: 0;
    text-align: center;
    top: 0;
    width: 100%;
  }
  #sidebar > .inner {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    height: inherit;
    line-height: inherit;
  }
  #sidebar nav {
    height: inherit;
    line-height: inherit;
  }
  #sidebar nav ul {
    display: flex;
    height: inherit;
    line-height: inherit;
    margin: 0;
  }
  #sidebar nav ul li {
    display: block;
    height: inherit;
    line-height: inherit;
    margin: 0 0 0 2em;
    padding: 0;
  }
  #sidebar nav a {
    height: inherit;
    line-height: inherit;
    padding: 0;
  }
  #sidebar nav a:after {
    background-image: none;
    background-color: #666633;
  }
}
@media screen and (max-width: 536px) {
  #sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }
}
body .people {
  display: flex;
  justify-content: center;
  color: black;
  margin-top: 25%;
  flex-direction: column;
}
body .people .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem;
}
body .people .title .person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 200px;
  background: #FFFFFF;
  padding: 10px;
  margin: 12px;
  border-radius: 2rem;
}
body .people .title .person img {
  width: 20%;
  height: auto;
  border-radius: 8rem;
}
body .people .title .person {
  background-color: rgba(2, 233, 125, 0.842);
}
.people h2,
h1 {
  font-size: 2rem;
  text-shadow: 2px 3px 5px;
}
@media (max-width: 600px) {
  body .people .title .person {
    background: transparent;
    font-size: 2rem;
  }
  body .people .title .person img {
    width: 150%;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  h2 {
    font-size: 2rem;
  }
}
