


.header {
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    padding-top: 25rem;
    background-color:none;
    position: relative;
    text-align: center;

    h1{
      font-size: 400%;
      color: #333333;
      font-weight: bolder;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 2px 2px @main-color;

    }
}

.resources{
    padding: 25px;

    .resourcebox{
        width: 100%;
        height: auto;
        margin-bottom: 25px;
        text-align:center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: @accent-color;
        color: @text-color-dark;
        border-radius: 2rem;

        .images{
            width: 80%;

            img{
                opacity: 1;
                width: 50%;
                padding: 10px;
                border-radius: 2rem;
              }            
        }

        p{
            padding: 15px;
          }

          button{
            width: 48%;
            height: 50px;
            border-radius: 1rem;
            color: @white;
            background: @main-color;
            margin: 15px;
          }
    }
//     display: flex;
//     flex-direction: column;
//     border-top: 1px dashed @main-color;
//     border-bottom: 1px dashed @main-color;
    
//     .resourcebox{
//         display: flex;
//         align-items: center;
//         background: @accent-color;
        

//             img{
//                 width: 100%;
//                 border-radius: 2rem;
//                 padding: 10px;
//             }
            
        

//         p{
//             width: 50%;
//             padding: 10px;
//             font-size: 2rem;
//             margin-left: 80px;
//         }
//     }
}