.container {
    font-size: 62.5%;


    body {
        background-image: url(https://images.pexels.com/photos/1877920/pexels-photo-1877920.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background: @white;
        background-repeat: none;
    }


    nav {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        padding-bottom: 2 rem;
        a {
            color: green;
            border: 1px solid black;
            background: yellowgreen;
            text-decoration: none;


        }
    }

    .about {
        font-size: 1.1rem;
        padding-top: 25rem;
    }


    .ContactForum{
    padding-top: 35rem;
    }

}