body{
   
    // nav {
    //     display: flex;
    //     font-size: 1.8rem;
    //     padding: 1 rem;
    //     justify-content: space-evenly;
    //     align-content: center;
    //     width: 90%;
        
    //     @media only screen and (max-device-width: 600px) {
    //         nav {
    //          width: 100%;
    //         }
    //       }
    //     a {
    //         color:@white;
    //         // border: 1px solid black;
    //         background: @main-color;
    //         text-decoration: none;
    //         text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    //         &:hover {text-shadow: 0px 0px 7px @accent-color};
    

    
    //     }
    // }
.people {
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 25%;
    flex-direction: column;
    // flex-wrap: wrap;
    .title{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 3rem;
        .person{
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content: space-evenly;
            width: 50%;
            img{
                width: 45%;
                border-radius: 8rem;
            }
            
        }
    }
}



}