.whatwedo{
    .displayflex(flex-end, center);
    flex-direction: column;
    .wwd1{
        width: 100%;
        height: 500px;
        background: @accent-color;
        color:@text-color-dark;
        

        img{
          width: 100%;
        //   height: 60%;
        }
       
    }
    .wwd2{
        width: 100%;
        height: 500px;
        background: @accent-color;
        color:@text-color-dark;
        
    }
    .wwd3{
        width: 100%;
        height: 500px;
        background: @accent-color;
        color:@text-color-dark;
        
    }
}